html, body {
width: 400px;
height: 400px;
margin: 4px;
word-wrap: break-word;
 overflow-x: hidden;
     white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
